pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
package-lock.json
output.calva-repl
.cpcache/
.shadow-cljs/
node_modules/
/public/js
/out
package-lock.json
/.lsp/
/.clj-kondo/

*.pyc
t2
t1
