;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[orchestra "2019.02.06-1"]
  [hiccups "0.3.0"]
  [com.andrewmcveigh/cljs-time "0.5.2"]]
 :dev-http {8080 "public"}
 :builds
 {:test {:target    :node-test
         :output-to "target/node-tests.js"
         :autorun   true}
  :lib {:target :node-library
        :output-to "target/lib.js"
        :exports {:init dda.masto-embed.app/init}
        :release {:compiler-options {:optimizations :simple}}}
  :frontend {:target :browser
             :modules {:main {:init-fn dda.masto-embed.app/init}}
             :release {}}}}


