;; shadow-cljs configuration
{:source-paths
 ["src/main"
  "src/test"]

 :dependencies
 [[orchestra "2021.01.01-1"]
  [hiccups "0.3.0"]
  [org.clj-commons/hickory "0.7.4"]
  [com.andrewmcveigh/cljs-time "0.5.2"]
  [org.domaindrivenarchitecture/c4k-common-cljs "6.2.3"]]
 :dev-http {8080 "public"}
 :builds
 {:test {:target    :node-test
         :output-to "target/node-tests.js"
         :autorun   true}
  :lib {:target :node-library
        :output-to "target/dda-masto-embed.js"
        :exports {:init dda.masto-embed.app/init}
        :release {:compiler-options {:optimizations :advanced}}}
  :frontend {:target :browser
             :modules {:main {:init-fn dda.masto-embed.app/init}}
             :release {}}}}
